{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block css %}

main{
  background-color:#97BC62FF;
  color: white;
}

.de{
  background-color:#2C5F2D ;
  color: white;
}


{% endblock %}
{% block body %} ]

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron de">
      <div class="container  ">
        <h1 class="display-3">PlantAura - An Online Florist</h1>
        <p>Plants and trees are what nurtures and sustains life. They purify the air and water surrounding us and provide shade to our homes. More than anything it provides a positive aura and reduces stress. With the objective to provide aesthetics to your lawn and enhance the positive energy of your home, Nisarga Nursery was established in the year 2021 by Mr. Niraj Shinde and his partner Mr.Omkar Bhosale in Indore. We are Central India’s largest online store with two outlets in Bhopal.

          Our nursery provides a varied range of indoor, outdoor, ornamental plants and trees for your beautiful lawn. We also provide various services such as lawn & garden development, maintenance, vertical gardening, terrace gardening and landscape designing. With Nisarga Nursery now available to you online, all our products and services are now just a click away.</p>
        
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Our Mission</h2>
          <p>Our mission is to become the world class door step service provider in the next 10 years of all categories and varieties of herbs, shrubs and trees across the world.</p>
          
        </div>
        <div class="col-md-6">
          <h2>Our Vision</h2>
          <p>We strive to be the largest and the best horticulturist in the world and contributing in sustaining Mother Nature.</p>
          
        </div>
        
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>

{% endblock %}
